body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: white;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.flash {
    background-color: white !important;
}

.userflash {
    background-color: green !important;
}
